.App {
  text-align: center;
  font-size: 1.1rem;
  border: 0.2rem solid transparent;
  margin: 3.5rem;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.lets {
  text-align: center;
   justify-content: center;
}
.load {
  color: red;
}
.lets ul 
{
    padding: 0;
    margin: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: transparent;
  }
.lets ul li {
  list-style-type: none;
  padding: 1rem;
}
.lets ul li a {
  text-decoration: none;
}
.list {
  margin: auto;
  width: 70rem;
}
li {
  list-style-type: none;
}
.hrr {
  color: red;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-weight: bolder;
  font-size: 2rem;
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
